<!-- employee-form.component.html -->
<form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="name">Nombre del Empleado:</label>
    <input id="name" formControlName="name">
  </div>
  <div>
    <label for="hourlyRate">Salario por Hora:</label>
    <input id="hourlyRate" formControlName="hourlyRate" type="number">
  </div>
  <div>
    <label for="hoursWorked">Horas Trabajadas:</label>
    <input id="hoursWorked" formControlName="hoursWorked" type="number">
  </div>
  <div>
    <label for="overtimeHours">Horas Extras Trabajadas:</label>
    <input id="overtimeHours" formControlName="overtimeHours" type="number">
  </div>
  <button type="submit" [disabled]="!employeeForm.valid">Calcular</button>
</form>
